html{
    margin: 2px;
}
*,*::before,*::after{
    border:inherit;
}
body{
    width:100vw;
    height:100%;
}
h1{
    color:rgba(150,0,23,0.8);
    font-weight:bold;
    font-family:monospace,sans-serif;
}
ul{
    list-style-type: none;
}
li a{
    margin:20px;
    text-decoration: none;
    font-size:25px;
    color:rgba(120,200,120,0.9);
}
#click{
    color: rgba(130, 10,10,0.9);
}
li{
    font-size:25px;
    
}
a:hover{
    color:aqua;
}
a:active{
    background-color:rgba(0,100,250,0.3);
}
hr{
    background:repeating-linear-gradient(90deg,rgba(30,30,30,0.4),rgba(90,90,90,0.9),rgba(130,100,99,0.1));
    box-sizing: border-box;
    height:20px;


}
#click{
    color:brown                                                                 6;
    font-weight:bold;
}
.here {
    background-color:#f0fdfa;
    opacity:0.5;
    margin-left:1rem;
    margin-right:0.5rem;
    height:1.5rem;
    border-radius:10%;
}
.here:hover {
    background-color: rgba(50,150,200,0.3);
    transform: scale(1.2);
}
.here:active {
    background-color: rgba(20,0,100,0.3);
}
#display {
    padding: 2rem;
    padding-left: 5rem;
    position: absolute;
    z-index: 3;
    top:5rem;
    width:30vw;
    line-margin: 20vw;
    background-color: #f4f4f4;
    display: none;
}
